.elements__delete-button {
    border: 0;
    width: 18px;
    height: 19.3px;
    background: url(../../../vendor/images/deleteButton.svg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
}