.elements__like-button {
  border: 0;
  background: 0;
  width: 20.76px;
  height: 18.13px;
  margin: 31px 22px 30px 0;
  background-image: url(../../../vendor/images/likeButton.svg);
  cursor: pointer;
}

.elements__like-button:active {
  outline: 0;
}

.elements__like-button:hover {
  opacity: .5;
}

.elements__like-button:focus {
  outline: 0;
}
